<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>wr-stat</title>
    <link href="main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <p class="total">#<%= @total_str %></p>
  </body>
</html>

